<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Signin</title>
        <link rel="stylesheet" href="/public/third_party/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/third_party/bootstrap/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Node.js Lesson4</a>
            <div class="form-inline my-2 my-lg-0">
                <a class="nav-link" href="/dashboard">みんなの投稿</a>
                <a class="nav-link" href="/dashboard">投稿を作成</a>
                <a class="nav-link" href="/signin">Login</a>
                <a class="nav-link" href="/">Register</a>
            </div>
        </nav>
        <div class="container">
            <h6>Login</h6>
            <div class="group">
                <form class="signin-form" action="/signin" method="post">
                    <table>
                        <tbody id="list">
                            <tr>
                                <td class="width">E-Mail Address</td>
                                <td>
                                    <input type="email" name="email">
                                </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>
                                    <input type="password" name="password">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" class="btn btn-primary" value="Login">
                                    <a href="">Forgot Your Password?</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>